In [5]:
import yaml
import google.generativeai as genai

with open('key.yml', 'r') as file:
    api_creds = yaml.safe_load(file)

GOOGLE_API_KEY = api_creds['gemini_key']

genai.configure(api_key=GOOGLE_API_KEY)
AI = genai.GenerativeModel('gemini-pro')

response = AI.generate_content("Buatkan SQL query untuk membuat schema database terkait aplikasi retail. Dataset Penjualan yang mencakup informasi seperti tanggal transaksi, jumlah penjualan, harga, kategori produk, dan lainnya. Gunakan SQL query dengan tabel penjualan untuk menghitung jumlah penjualan untuk setiap kategori produk dan hasilkan output sebanyak 10 baris yang menampilkan nama kategori produk beserta total penjualannya.")
print(response.text)

```sql
-- Buat schema database
CREATE SCHEMA IF NOT EXISTS retail;

-- Buat tabel penjualan
CREATE TABLE retail.penjualan (
    id_penjualan INT PRIMARY KEY AUTO_INCREMENT,
    tanggal_transaksi DATE,
    jumlah_penjualan INT,
    harga DECIMAL(10, 2),
    kategori_produk VARCHAR(255)
);

-- Masukkan data ke dalam tabel penjualan
INSERT INTO retail.penjualan (tanggal_transaksi, jumlah_penjualan, harga, kategori_produk) VALUES
('2023-01-01', 10, 100, 'Elektronik'),
('2023-01-02', 5, 50, 'Makanan'),
('2023-01-03', 15, 150, 'Pakaian'),
('2023-01-04', 8, 80, 'Elektronik'),
('2023-01-05', 12, 120, 'Makanan'),
('2023-01-06', 10, 100, 'Pakaian'),
('2023-01-07', 6, 60, 'Elektronik'),
('2023-01-08', 9, 90, 'Makanan'),
('2023-01-09', 14, 140, 'Pakaian'),
('2023-01-10', 7, 70, 'Elektronik');

-- Tampilkan total penjualan untuk setiap kategori produk
SELECT kategori_produk, SUM(jumlah_penjualan) AS total_penjualan
FROM retail.penjualan
GROUP BY kategori_produk
ORDER BY total_penjualan DESC
LIMIT 10;
```